.card-body,
.card-img-top {
  pointer-events: none;
}

.card-title,
.card-text {
  color: white;
}

ul {
  list-style: none;
  font-size: 1.25rem;
}

.card {
  background-color: black;
}

#ranking_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

#past_competitions {
  width: 75%;
}
