.logo {
  max-width: 200px;
  max-height: 50px;
  width: auto;
  height: auto;
}

.navbar-brand {
  padding: 0px;
}

.visible {
  visibility: visible;
  transition: all 200ms ease-in;
}

.hidden {
  visibility: hidden;
  transition: all 200ms ease-out;
  transform: translate(0, -100%);
}

.navbar {
  background-color: aqua;
}

.nav-item {
  font-size: 1.25rem;
}
