<style>
	body {background-color:yellowgreen;}
</style>
<h1 style="text-align: center;">Login form</h1>
<form action="/login" method="POST">

	<div class="container" style="text-align: center">
	  <label for="uname"><b>Username</b></label>
	  <input type="text" placeholder="Enter Username" name="uname" required>
	</div>
	<div class="container" style="text-align: center">
	  <label for="psw"><b>Password</b></label>
	  <input type="password" placeholder="Enter Password" name="psw" required>
	</div>
    <div class="container" style="text-align: center">
	  <button type="submit">Login</button>

	</div>
  

	<div class="container" style="text-align: center">
		<p>If you have not registered yet</p>
		<a href='/register'><h1>Register</h1></a>
	  </div>
  </form>