{% extends 'base.html' %}
{% block head %}


{% endblock %}

{% block body %}
{% if session["log"] %}

<div class="content">
    <h1 style="color:white;">Task Master</h1>
    <a href="/logout" style="color:white;">logout</a>
    {% if tasks|length < 1 %}
    <h4 style="color:blue;">There is no task</h4>
    {% else %}
    <table class="center" style="background-color:#FFFFE0;">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{task.content}}</td>
                <td>{{task.datecreated.date()}}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% else %}
<h1 style="color:white;">you are not logged in</h1>
<a href="/login" style="color:white;">login</a>>
{% endif %}
    <form action="/task" method="Post">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form> 
</div>

{% endblock %}